* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #414141;
}

a:hover {
  text-decoration: none;
  color: #c50707;
  text-shadow: 0px 0px 0px #fff, 0px 0px 9px #ed3d3d;
}

input {
  margin-bottom: 8px;
  width: 30px;
}

button {
  margin-bottom: 5px;
}

.container {
  margin: 10px;
  padding: 5px;
  border: black 1px solid;
  width: 500px;
  z-index: 2;
}

#one {
  min-height: 100px;
}

#one>i* {
  min-height: 1px;
}

#two {
  min-height: 300px;
}

#three {
  min-height: 30px;
}

#six > button {
  width: 80px;
}

label {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

input[type="radio"]:checked+label {
  color: red;
}

input[type="radio"]:not(:checked)+label {
  color: blue;
}

#q5 {
  min-width: 70px;
}

#nextlaba {
  text-decoration: none;
  color: #414141;
}

#nextlaba:hover {
  text-decoration: none;
  color: #c50707;
  text-shadow: 0px 0px 0px #fff, 0px 0px 9px #ed3d3d;
}

#pic4 {
  width: 200px;
  cursor: pointer;
}

.odd {
  color: blue;
}

figure {
  text-align: center;
}

img {
  height: auto;

}

.slider {
  position: relative;
  overflow: hidden;
}

.slides {
display: flex;
z-index: 1;
transition-duration: 0.5s;
}

.slides img {
width: 100%;
}

.but5 {
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.prev {
left: 10px;
}

.next {
right: 10px;
}

#five {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
width: 166px;
height: 166px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    .light-blue {
      background-color: lightblue;
    }
    .light-green {
      background-color: lightgreen;
    }
    .light-red {
      background-color: lightcoral;
    }
    table {
      width: 500px;
      height: 500px;
      border-collapse: collapse;
    }