.test {
  color: rgb(203, 24, 74);
  font-size: 25px;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.listik {
  color: coral;

}
img[alt="flowers"] {
  width: 120px; height: 120px;
}
:link {
color: rgb(29, 53, 210);
}
:visited {
color: rgb(0, 0, 0);
}
:hover[href] {
  color: rgb(255, 255, 255);
}

.zagl {
color:rgb(168, 34, 34);
font-size: larger;
}
tr:nth-child(2n+1) {
  color: tomato;
}
tr:nth-child(2n) {
  color: rgb(47, 21, 197);
}
td:first-child{
 color: azure;
 background-color: rgb(214, 52, 168);
}
:enabled{
  color: cyan;
  background-color: blue;
}
/* Это сущий кошмар с чек боксами */
.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.check+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.check+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #001a33;
  border-radius: 5px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:80% 80%;
}
.check:checked+label::before {
  border-color: #000000;
  background-color: #b62da6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* Тоже самое капец ток с радиокнопкой */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-radio:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio:disabled+label::before {
  background-color: #e9ecef;
}

/* Фанта и кола */
.social-icons-5 {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;      
}
.social-icons-5 a {
  text-decoration: none;
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0 6px;
  font-size: 26px;
  background: #337AB7;
  transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
  transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
  transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
.social-icons-5 a img {
  width: 36px;
  height: 36px;
}
.social-icons-5 a i,
.social-icons-5 a img {
  transition: transform 0.4s linear 0s;
}
.social-icons-5 a:hover {
  transform: rotate(360deg);
  border-radius: 50%;
}
.social-icons-5 a:hover i,
.social-icons-5 a:hover img {
  transform: rotate(-360deg);
}
