p {
  color: red;
  width: 500px;
  border: 1px solid black;
}
li {
  transition: opacity 0.5s ease;
}
#clock {
  font-size: 80px;
}

#clock span.separator {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}