p {
  color: blue;
  width: 200px;
  border: 10px solid rgb(158, 74, 74);
}
li {
  transition: opacity 0.5s ease;
}
#clock {
  font-size: 80px;
}

#clock span.separator {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}